
	<nav>
		<%= link_to 'Destroy', @film, method: :delete %>
		<%= link_to 'Edit', edit_film_path(@film) %>
		<%= link_to 'Index', films_path %>
	</nav>
	<h1><%= @film.name %></h1>
	<div class = "poster">
		<img src = "<%= @film.poster %>">
	</div>


	<div class = "video" >
		<iframe src="https://www.youtube.com/embed/<%= @film.trailer %>?rel=0?ecver=2" width="640" height="360" frameborder="0"></iframe>
	</div>

	<div class = "description">
		<h3> Description</h3>
		<p><%= @film.description %></p>
	</div>
